@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

a {
  color: #38C;
}

body {
  background-color: #EFEFEF;
  color: #333;
}
